
.dropbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elements-color);
    color: var(--text-color);
    width: 12.5rem;
    height: 3.5rem;
    padding: 1.125rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 300;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 9px -6px var(--box-shadow);
  }

  .chevron {
    width: 0.75rem;
    height: 0.75rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  #myDropdown {
    display: none;
    position: absolute;
    margin-top: .25rem;
    min-width: 230px;
    border: none;
    z-index: 1;
    box-shadow: 0 0 9px -6px var(--box-shadow);
  }
  
  .dropdown-content a {
    background-color: var(--elements-color);
    color: var(--text-color);
    font-size: 0.875rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: var(--hover-color);}

    /* mobile styles */
@media (max-width: 400px) {
    .dropbtn {
        font-size: 0.75rem;
        height: 3rem;
    }

    .dropdown-content a {
        font-size: 0.75rem;
    }
}
  